src/base_team_project/__pycache__/commands.cpython-310.pyc
src/base_team_project/__pycache__/common_functions.cpython-310.pyc
src/base_team_project/__pycache__/memory.cpython-310.pyc
src/base_team_project/__pycache__/notes_core.cpython-310.pyc
src/base_team_project/__pycache__/save_load_book.cpython-310.pyc
src/base_team_project/__pycache__/sorter.cpython-310.pyc
src/__pycache__/__init__.cpython-310.pyc
src/__pycache__/commands.cpython-310.pyc
src/__pycache__/common_functions.cpython-310.pyc
src/__pycache__/main.cpython-310.pyc
src/__pycache__/memory.cpython-310.pyc
src/__pycache__/memory_tests.cpython-310.pyc
src/__pycache__/notes_core.cpython-310.pyc
src/__pycache__/save_load_book.cpython-310.pyc
src/__pycache__/save_load_tests.cpython-310.pyc
src/__pycache__/sorter.cpython-310.pyc
Jarvis.egg-info/top_level.txt
Jarvis.egg-info/SOURCES.txt
Jarvis.egg-info/requires.txt
Jarvis.egg-info/PKG-INFO
Jarvis.egg-info/entry_points.txt
Jarvis.egg-info/dependency_links.txt
jarvis_assistant_bot.egg-info/top_level.txt
jarvis_assistant_bot.egg-info/SOURCES.txt
jarvis_assistant_bot.egg-info/requires.txt
jarvis_assistant_bot.egg-info/PKG-INFO
jarvis_assistant_bot.egg-info/entry_points.txt
jarvis_assistant_bot.egg-info/dependency_links.txt
dist/jarvis_assistant_bot-0.2-py3-none-any.whl
build/lib/src/sorter.py
build/lib/src/save_load_books.py
build/lib/src/notes_core.py
build/lib/src/memory.py
build/lib/src/main.py
build/lib/src/common_functions.py
build/lib/src/commands.py
build/lib/src/__init__.py
*.pyc
