src/base_team_project/__pycache__/commands.cpython-310.pyc
src/base_team_project/__pycache__/common_functions.cpython-310.pyc
src/base_team_project/__pycache__/memory.cpython-310.pyc
src/base_team_project/__pycache__/notes_core.cpython-310.pyc
src/base_team_project/__pycache__/save_load_book.cpython-310.pyc
src/base_team_project/__pycache__/sorter.cpython-310.pyc
