tp_personal_assistant/
    src/
        __init__.py
        commands.py
        common_functions.py
        main.py
        memory.py
        notes_core.py
        save_load_books.py
        open_ai_input_assistent.py
        sorter.py
    setup.py
    LICENSE
    MANIFEST.in
    CODE_OF_CONDUCT.md
    pyproject.toml
    README.md
