tp_personal_assistant/
    src/
        base_team_project/
            __init__.py
            commands.py
            common_functions.py
            main.py
            memory_tests.py
            memory.py
            notes_core.py
            save_load_book.py
            save_load_tests.py
            sorter.py
        example_book/      
    setup.py
    MANIFEST.in
    CODE_OF_CONDUCT.md
    README.md
